<%- include('../partials/header') %>
<h2>Sửa Nhà cung cấp</h2>

<form action="/suppliers/<%= supplier._id %>?_method=PUT" method="POST">
  <div class="mb-3">
    <label class="form-label">Tên</label>
    <input type="text" name="name" value="<%= supplier.name %>" class="form-control" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Địa chỉ</label>
    <input type="text" name="address" value="<%= supplier.address %>" class="form-control" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Số điện thoại</label>
    <input type="text" name="phone" value="<%= supplier.phone %>" class="form-control" required>
  </div>
  <button type="submit" class="btn btn-primary">Cập nhật</button>
</form>
<%- include('../partials/footer') %>
