<%- include('../partials/header') %>
<h2>Sửa Sản phẩm</h2>

<form action="/products/<%= product._id %>?_method=PUT" method="POST">
  <div class="mb-3">
    <label class="form-label">Tên sản phẩm</label>
    <input type="text" name="name" value="<%= product.name %>" class="form-control" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Số lượng</label>
    <input type="number" name="quantity" value="<%= product.quantity %>" class="form-control" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Giá</label>
    <input type="number" name="price" value="<%= product.price %>" class="form-control" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Nhà cung cấp</label>
    <select name="supplier" class="form-control">
      <% suppliers.forEach(supplier => { %>
        <option value="<%= supplier._id %>" <%= product.supplier && product.supplier._id.toString() === supplier._id.toString() ? "selected" : "" %>>
          <%= supplier.name %>
        </option>
      <% }) %>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Cập nhật</button>
</form>
<%- include('../partials/footer') %>
